<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column nav-pills">
                <li class="nav-link">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/users">Users</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/categories">Categories</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/templatedriven">Template Driven Form</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/reactiveForms">Reactive Form</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/pipes">Pipes</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>

            </div>
        </div>
    </div>
</div>